#wp-admin-bar-root-default > li {
	display: block !important;
    margin-right: 8px !important;
}

.whitespace-bottom {
    margin-bottom: 20px;
}

#register-page .register-section {
    width: 100% !important;
}

footer {
    padding-top: 16px;
}
